<aside class="sidebar">
  <div class="brand d-flex align-items-center mb-4">
    <div class="me-2 fs-4">🎯</div>
    <h4 class="mb-0">Goal Sheet</h4>
  </div>

  <ul class="nav flex-column sidebar-menu">
    <li class="nav-item" *ngFor="let item of navItems">
      <a
        [routerLink]="item.path"
        routerLinkActive="active-menu"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link text-white"
      >
        <i *ngIf="item.icon" [class]="item.icon + ' me-2'"></i>
        {{ item.label }}
      </a>
    </li>
  </ul>
</aside>
